.full_div {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.viewer_wrapper {
  width: 70%;
  height: 100%;
}

.mainpanel_wrapper {
  background-color: #e7e7e7;
  width: 30%;
  max-width: 500px;
  height: 100%;
  padding: 0 30px 40px 0;
}

.topright_panel_div {
  z-index: 1;
  background-color: #fff;
  border: 1px #9c9c9c;
  border-radius: 15px;
  justify-content: center;
  width: auto;
  max-width: 300px;
  height: 80px;
  display: block;
  position: absolute;
  inset: 5% 6% 0% auto;
  box-shadow: 3px 4px 5px #00000024;
  flex-direction: column; /* 세로 방향 정렬 */
}

.left_panel_div {
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: 80px 80px 80px 80px;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: space-between;
  align-items: stretch;
  width: 70px;
  height: auto;
  display: grid;
  position: absolute;
  inset: 25% auto auto 5%;
}

.right_panel_div {
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px #000;
  border-radius: 20px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 50px;
  height: auto;
  display: grid;
  position: absolute;
  inset: 18% 0.5% auto auto;
  box-shadow: 3px 3px 5px 1px #0000001a;
}

.bottom_panel_div {
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  border-radius: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: auto;
  max-width: 500px;
  height: auto;
  padding: 3px 5px;
  display: grid;
  position: absolute;
  inset: auto 25% 6%;
  box-shadow: 3px 3px 5px #0000002e;
}

.viewer_div {
  width: 100%;
  height: 100%;
  position: relative;
}

.insidepanel_wrapper {
  justify-content: center;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.canvas_div {
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.mainpanel_div {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 3px 4px 5px #0000004d;
}

.canvas {
  width: 100%;
  height: 100%;
}

.head_wrapper {
  background-color: #e7e7e7;
  width: 100%;
  height: 12vh;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  position: absolute;
  inset: 0% 0% auto;
}

.container_div {
  background-color: #e7e7e7;
  width: 100%;
  height: 88vh;
  margin-top: 12vh;
  display: flex;
}

.logo_div {
  align-items: center;
  width: auto;
  height: 100%;
  display: flex;
}

.image {
  object-fit: contain;
  display: block;
}

.left_panel_btn {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: block;
}

.leftpanel_btn {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 70px;
  height: 70px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  font-weight: 400;
  line-height: .8rem;
  display: flex;
  box-shadow: 4px 4px 5px #00000021;
}

.right_panel_btn {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: block;
}

.rightpanel_btn {
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50px;
  height: 40px;
  padding-left: 15px;
  display: flex;
}

.rightpanel_btn.top {
  background-color: #fff;
  border-color: #c9c9c9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 50px;
  height: 40px;
}

.rightpanel_btn.btm {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.topright_panel {
  border: 1px solid #d1d1d1;
  border-radius: 15px 15px 0 0;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  padding-left: 20px;
  display: flex;
}

.topright_panel.down {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #d1d1d1;
  border-radius: 0 0 15px 15px;
  flex-flow: row;
  justify-content: space-between;
  padding-left: 10px;
  flex-flow: column; /* 세로 방향으로 변경 */
  overflow-y: auto; /* 내용이 많을 경우 스크롤*/
  max-height: 300px; /* 최대 높이 설정 */
}

.btm_panel_btn {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: block;
}

.btmpanel_btn {
  color: #919191;
  background-color: #fff;
  border-style: none;
  text-align: center;
  border: 1px solid #d5d2d2;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 150px;
  height: auto;
  padding: 8px 5px;
  font-size: .9rem;
  font-weight: 700;
  line-height: .9rem;
  display: flex;
}

.btmpanel_btn.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btmpanel_btn.btm {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btmpanel_btn.active {
  color: #ffffff;
  background-color: #3756b2;
  border: 1px solid #d5d2d2;
}

.heading {
  font-size: 10px;
}

.bold-text {
  font-weight: 400;
}

.panel_title_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  height: auto;
  display: flex;
}

.option_wrapper {
  margin-top: 10px;
}

.option_title {
  margin-bottom: 5px;
  font-size: .7rem;
  line-height: .7rem;
}

.title_brand {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1px;
}

.title_product {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.title_brand_div {
  align-items: center;
  height: 20px;
  display: flex;
}

.title_product_div {
  height: 30px;
  line-height: 20px;
  display: block;
}

.selectoption_subtitle {
  margin-bottom: 5px;
  font-weight: 400;
}

.sub_color_selections {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.sub_color_selections._20 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: auto;
  max-width: 220px;
}

.sub_color_selections._10 {
  grid-template-rows: auto;
  width: auto;
  max-width: 220px;
}

.sub_color_selections._5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.color_selection_btn {
  background-color: #6481b8;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  padding: 3px;
}

.color_selection_btn.non {
  background-color: #fff;
}

.radio_select_container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  width: 70%;
  display: grid;
}

.radio_select_container.two {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  width: auto;
  max-width: 110px;
  display: grid;
}

.radio_select_container.three {
  width: auto;
  max-width: 130px;
}

.radio_select_container.four {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: auto auto auto auto;
  width: auto;
  max-width: 260px;
}

.radio_select_btn {
  text-align: center;
  background-color: #6481b8;
  border-radius: 8px;
  width: 35px;
  height: auto;
  padding: 8px 10px;
  font-size: .7rem;
  line-height: .7rem;
}

.radio_select_btn.round {
  border-radius: 15px;
  width: auto;
  height: auto;
  padding: 8px 6px;
  font-size: .6rem;
  line-height: .6rem;
}

.summary_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.selected_product_div {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  display: flex;
}

.quantity_div {
  display: flex;
}

.unit_price_div {
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
}

.popup_wrapper {
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.popup_price_btn {
  color: #6481b8;
  background-color: #fff;
  padding: 0;
  font-size: .7rem;
  line-height: .7rem;
}

.selected_option_label {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1rem;
}

.shop_btn_wrapper {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
  display: flex;
}

.shop_btn {
  background-color: #6481b8;
  border-radius: 30px;
}

.shop_btn.cart {
  color: #000;
  background-color: #fff;
  border: 2px solid #8f8f8f;
  border-radius: 30px;
}

.color_title {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.layer {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
}

.layer_title {
  font-size: .7rem;
  line-height: .7rem;
}

.layerbtndiv {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: right;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  margin-right: 10px;
  display: grid;
}

.layerbtn {
  color: #9c9c9c;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .7rem;
  line-height: .7rem;
}

.layertitlediv {
  flex-flow: row;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .full_div {
    flex-flow: row;
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .viewer_wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 70%;
    display: block;
    position: static;
  }

  .mainpanel_wrapper {
    background-color: #e7e7e7;
    width: 30%;
    max-width: 600px;
    padding-bottom: 30px;
    padding-right: 50px;
  }

  .topright_panel_div {
    background-color: #fff;
    border-color: #9c9c9c;
    width: auto;
    max-width: 250px;
    height: 80px;
    padding-bottom: 0;
    padding-right: 0;
    top: 5%;
    box-shadow: 2px 2px 5px #00000021;
  }

  .left_panel_div {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 80px;
    top: 25%;
  }

  .right_panel_div {
    width: 60px;
    top: 20%;
    box-shadow: 3px 3px 5px 1px #00000014;
  }

  .bottom_panel_div {
    background-color: #fff;
    width: auto;
    max-width: 500px;
    height: auto;
    padding: 5px 20px;
    bottom: 10%;
    left: 30%;
    right: 30%;
    box-shadow: 3px 5px 5px #00000026;
  }

  .viewer_div {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
  }

  .insidepanel_wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: block;
    position: absolute;
  }

  .canvas_div {
    background-color: #e7e7e7;
    width: 100%;
    height: 100%;
  }

  .mainpanel_div {
    background-color: #fff;
    border-color: #908d8d;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .canvas {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    padding-right: 0;
  }

  .head_wrapper {
    background-color: #e7e7e7;
    height: 10vh;
    padding-top: 15px;
    padding-left: 50px;
  }

  .container_div {
    height: 90vh;
    margin-top: 10vh;
  }

  .logo_div {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .image {
    object-fit: contain;
    display: block;
    overflow: visible;
  }

  .leftpanel_btn {
    background-color: #fff;
    max-width: 80px;
    height: 80px;
    padding: 5px;
    box-shadow: 2px 3px 5px #00000029;
  }

  .rightpanel_btn {
    background-color: #fff;
    border-color: #c9c9c9;
    max-width: 60px;
    height: 50px;
  }

  .rightpanel_btn.top {
    background-color: #fff;
    max-width: 60px;
    height: 50px;
  }

  .topright_panel {
    border: 1px solid #c9c9c9;
    border-radius: 15px 15px 0 0;
    align-items: center;
    padding-left: 20px;
    display: flex;
  }

  .topright_panel.down {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 0 0 15px 15px;
    flex-flow: row;
    align-items: center;
    height: 50%;
    padding-left: 20px;
  }

  .btm_panel_btn {
    padding-top: 8px;
    display: flex;
  }

  .btmpanel_btn {
    background-color: #6481b8;
    width: 100%;
    height: auto;
    padding: 9px 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .btmpanel_btn.non {
    color: #706e6e;
    background-color: #fff;
  }

  .option_wrapper, .option_wrapper.below {
    margin-top: 20px;
  }

  .option_title {
    margin-top: 0;
    font-size: .9rem;
    line-height: .9rem;
  }

  .color_select_container {
    width: 70%;
    margin-top: 10px;
    align-self: flex-start; /* 왼쪽 정렬 */
  }

  .title_brand {
    padding-left: 2px;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

  .title_product {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .selectoption_subtitle {
    font-size: .7rem;
    font-weight: 400;
    line-height: .7rem;
  }

  .sub_color_selections._20 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: start;
    width: auto;
    max-width: 300px;
  }

  .sub_color_selections._10 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: start;
    width: auto;
    max-width: 300px;
  }

  .color_selection_btn {
    width: 20px;
    height: 20px;
  }

  .color_selection_btn.non {
    background-color: #fff;
  }

  .radio_select_container.two {
    grid-template-columns: auto auto;
    justify-items: start;
    width: auto;
    max-width: 170px;
    margin-top: 10px;
  }

  .radio_select_container.three {
    justify-items: start;
    width: auto;
    max-width: 180px;
    margin-top: 10px;
  }

  .radio_select_container.four {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: auto auto auto auto;
    justify-content: stretch;
    justify-items: start;
    width: auto;
    max-width: 380px;
    margin-top: 10px;
  }

  .radio_select_btn {
    background-color: #6481b8;
    width: 55px;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: .9rem;
    line-height: .9rem;
  }

  .radio_select_btn.round {
    width: auto;
    max-width: 180px;
    height: auto;
    padding: 8px 15px;
    font-size: .8rem;
    line-height: .8rem;
  }

  .user_textfield {
    border: 2px solid #838383;
    border-radius: 7px;
    margin-top: 5px;
    font-size: .8rem;
    line-height: .8rem;
  }

  .summary_wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .selected_product_div {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: auto;
    display: flex;
  }

  .quantity_div {
    flex-flow: row;
    height: auto;
    display: flex;
  }

  .unit_price_div {
    height: auto;
    display: flex;
  }

  .popup_wrapper {
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    display: flex;
    position: static;
    inset: 0% 0% 0% auto;
  }

  .popup_price_btn {
    color: #6481b8;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
    line-height: 1rem;
  }

  .selected_option_label {
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .selected_option_label.price {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .shop_btn_wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    margin-top: 20px;
    display: flex;
    position: static;
    inset: auto 0% 0%;
  }

  .shop_btn {
    text-align: center;
    background-color: #6481b8;
    border-radius: 30px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
    line-height: 1rem;
  }

  .shop_btn.cart {
    color: #000;
    background-color: #fff;
    border: 3px solid #8f8f8f;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
  }

  .color_title {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    height: auto;
    margin-top: 20px;
    display: flex;
  }

  .layer {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2rem;
  }

  .layer_title {
    font-size: 1rem;
    line-height: 1rem;
  }

  .layerbtndiv {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    margin-left: 15px;
    display: grid;
  }

  .layerbtn {
    color: #9c9c9c;
    text-align: center;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .8rem;
  }

  .layertitlediv {
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .viewer_wrapper {
    width: 62%;
  }

  .mainpanel_wrapper {
    width: 38%;
    padding-right: 10px;
  }

  .topright_panel_div {
    width: auto;
    max-width: 150px;
    height: 60px;
    right: 4%;
  }

  .left_panel_div {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-auto-flow: row;
    align-content: space-between;
    align-items: center;
    width: 50px;
    height: auto;
    top: 28%;
    left: 3%;
  }

  .right_panel_div {
    width: 40px;
    top: 20%;
    right: 4%;
  }

  .bottom_panel_div {
    width: auto;
    max-width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    left: 10%;
    right: 10%;
  }

  .mainpanel_div {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .canvas {
    padding-bottom: 30px;
    padding-right: 30px;
  }

  .head_wrapper {
    padding-left: 0;
  }

  .logo_div {
    justify-content: center;
    align-items: center;
  }

  .left_panel_btn {
    height: auto;
  }

  .leftpanel_btn {
    max-width: 50px;
    height: 50px;
    font-size: .6rem;
    line-height: .6rem;
  }

  .rightpanel_btn, .rightpanel_btn.top {
    max-width: 40px;
    height: 30px;
  }

  .topright_panel {
    flex-flow: row;
    align-items: center;
    padding-left: 15px;
  }

  .topright_panel.down {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 12px;
    padding-right: 10px;
  }

  .btm_panel_btn {
    padding-left: 5px;
    padding-right: 5px;
  }

  .btmpanel_btn {
    max-width: 150px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .title_brand_div {
    align-items: center;
  }

  .radio_select_container.two {
    width: auto;
    max-width: 120px;
  }

  .radio_select_container.three {
    width: 50%;
    max-width: 130px;
  }

  .radio_select_container.four {
    max-width: 270px;
  }

  .radio_select_btn {
    font-size: .8rem;
    line-height: .8rem;
  }

  .radio_select_btn.round {
    padding-left: 8px;
    padding-right: 8px;
  }

  .shop_btn_wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 60px;
    position: static;
    inset: auto 0% 0%;
  }

  .layer {
    font-size: .8rem;
    line-height: .8rem;
  }

  .layer_title {
    font-size: .7rem;
    line-height: .7rem;
  }

  .layerbtndiv {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .layerbtn {
    padding-left: 2px;
    padding-right: 2px;
    font-size: .5rem;
    line-height: .5rem;
  }
}

@media screen and (max-width: 767px) {
  .mainpanel_wrapper {
    padding-bottom: 50px;
  }

  .topright_panel_div {
    width: auto;
    height: 50px;
    padding-left: 0;
  }

  .left_panel_div {
    grid-template-rows: 60px 60px 60px 60px;
    width: 50px;
    top: 30%;
  }

  .right_panel_div {
    width: 40px;
    top: 25%;
  }

  .bottom_panel_div {
    border-radius: 20px;
    width: auto;
    max-width: 300px;
    left: 10%;
    right: 10%;
  }

  .mainpanel_div {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .head_wrapper {
    height: 8vh;
  }

  .container_div {
    height: 92vh;
    margin-top: 8vh;
  }

  .image {
    max-width: 25%;
  }

  .leftpanel_btn {
    max-width: 50px;
    height: 50px;
    font-size: .5rem;
    line-height: .5rem;
  }

  .rightpanel_btn, .rightpanel_btn.top {
    max-width: 40px;
    height: 30px;
  }

  .topright_panel {
    padding-left: 15px;
  }

  .topright_panel.down {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 15px;
    padding-right: 5px;
  }

  .btm_panel_btn {
    padding-left: 3px;
    padding-right: 3px;
  }

  .btmpanel_btn {
    border-radius: 10px;
    font-size: .7rem;
    line-height: .7rem;
  }

  .option_wrapper {
    margin-top: 0;
  }

  .option_wrapper.below {
    margin-top: 30px;
  }

  .option_title {
    font-size: .8rem;
  }

  .title_brand {
    font-size: .7rem;
    line-height: .7rem;
  }

  .title_product {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .title_brand_div {
    align-items: center;
    display: flex;
  }

  .selectoption_subtitle {
    font-size: .6rem;
    line-height: .6rem;
  }

  .sub_color_selections._20 {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }

  .color_selection_btn {
    width: 13px;
    height: 13px;
    padding: 3px;
  }

  .radio_select_container.two {
    width: auto;
    max-width: 90px;
  }

  .radio_select_container.three {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 110px;
  }

  .radio_select_container.four {
    max-width: 200px;
  }

  .radio_select_btn {
    width: 30px;
    font-size: .7rem;
    line-height: .7rem;
  }

  .radio_select_btn.round {
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: .5rem;
    line-height: .5rem;
  }

  .selected_product_div {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .popup_price_btn {
    font-size: .6rem;
    line-height: .6rem;
  }

  .selected_option_label {
    font-size: .7rem;
    line-height: .7rem;
  }

  .selected_option_label.price {
    font-size: .9rem;
    line-height: .9rem;
  }

  .shop_btn_wrapper {
    margin-top: 40px;
  }

  .shop_btn, .shop_btn.cart {
    font-size: .8rem;
    line-height: .8rem;
  }

  .layer {
    font-size: .7rem;
    line-height: .7rem;
  }

  .layer_title {
    font-size: .6rem;
    line-height: .6rem;
  }

  .layerbtndiv {
    margin-right: 5px;
  }

  .layerbtn {
    padding: 4px 2px;
  }
}

@media screen and (max-width: 479px) {
  .viewer_wrapper {
    width: 100%;
    height: 35%;
  }

  .mainpanel_wrapper {
    width: 100%;
    max-width: none;
    height: 65%;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
  }

  .topright_panel_div {
    border-radius: 5px;
    max-width: 100px;
    height: 30px;
    top: 2%;
  }

  .left_panel_div {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-rows: 40px 40px 40px 40px;
    width: 40px;
    top: 15%;
  }

  .right_panel_div {
    width: 22px;
    top: 16%;
  }

  .bottom_panel_div {
    max-width: 260px;
    padding-top: 0;
    padding-bottom: 0;
    inset: auto 15% 5%;
  }

  .mainpanel_div {
    border-radius: 30px 30px 0 0;
    padding: 10px 20px;
  }

  .head_wrapper {
    height: 6vh;
  }

  .container_div {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    height: 94vh;
    margin-top: 6vh;
    display: flex;
  }

  .logo_div {
    height: 100%;
  }

  .image {
    box-sizing: border-box;
    aspect-ratio: auto;
    max-width: 30%;
    overflow: clip;
  }

  .leftpanel_btn {
    border-radius: 10px;
    max-width: 40px;
    height: 40px;
    font-size: .4rem;
    line-height: .4rem;
  }

  .rightpanel_btn {
    width: 22px;
    max-width: 22px;
    height: 18px;
    padding: 5px 8px;
    font-size: .5rem;
    line-height: .5rem;
  }

  .rightpanel_btn.top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 22px;
    max-width: 22px;
    height: 18px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .rightpanel_btn.btm {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .topright_panel {
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
  }

  .topright_panel.down {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    border-radius: 0 0 5px 5px;
    padding-left: 5px;
  }

  .btm_panel_btn {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .btmpanel_btn {
    max-width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .5rem;
    line-height: .5rem;
  }

  .option_wrapper {
    margin-top: 20px;
  }

  .option_wrapper.below {
    margin-top: 10px;
  }

  .option_title {
    font-size: .6rem;
    line-height: .6rem;
  }

  .title_brand {
    display: block;
  }

  .title_product {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1rem;
  }

  .title_brand_div {
    display: none;
  }

  .title_product_div {
    height: auto;
  }

  .selectoption_subtitle {
    font-size: .5rem;
    line-height: .5rem;
  }

  .sub_color_selections._20 {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    max-width: 170px;
  }

  .color_selection_btn {
    width: 15px;
    height: 15px;
  }

  .radio_select_container.two {
    max-width: 110px;
  }

  .radio_select_container.three {
    max-width: 100px;
  }

  .radio_select_container.four {
    max-width: 250px;
  }

  .radio_select_btn {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .radio_select_btn.round {
    padding-left: 8px;
    padding-right: 8px;
  }

  .selected_option_label.price {
    margin-top: 0;
  }

  .shop_btn_wrapper {
    margin-top: 10px;
  }

  .shop_btn, .shop_btn.cart {
    font-size: .9rem;
    line-height: .9rem;
  }

  .color_title {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    display: none;
  }

  .layer {
    font-size: .5rem;
    line-height: .5rem;
  }

  .layer_title {
    font-size: .4rem;
    line-height: .4rem;
  }

  .layerbtn {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: .4rem;
    line-height: .4rem;
  }
}

#w-node-eb8b45c9-4319-00ab-5dd8-bbdd46d37b3d-e72c2f76 {
  justify-self: start;
}

#w-node-_6935b60b-870c-7425-384f-42aeb092c70a-e72c2f76 {
  justify-self: end;
}

#w-node-_928c4e9e-8a52-73cc-68e6-c18a5e608f77-e72c2f76 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

@media screen and (min-width: 1920px) {
  #layer_hide.w-node-_2be3198b-1d72-cc06-adb4-33484e90f662-e72c2f76 {
    justify-self: center;
  }

  #wrap_bulk.w-node-_6a470abd-7c76-a598-636f-38008b433cff-e72c2f76 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-eb8b45c9-4319-00ab-5dd8-bbdd46d37b3d-e72c2f76 {
    justify-self: start;
  }

  #w-node-_6935b60b-870c-7425-384f-42aeb092c70a-e72c2f76 {
    justify-self: end;
  }

  #w-node-_928c4e9e-8a52-73cc-68e6-c18a5e608f77-e72c2f76 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: end;
  }
}