.container {
    width: 800px;
    height: 600px;
    border: 1px solid #000;
}


#bracelet {
    width: 500px; /*팔찌 크기*/
    height: 100px;
    background: whitesmoke;/*팔찌 모양 및 색상*/
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
}
.printable-area {
    
    position: relative;
}
.printable-area-text {
    position: absolute;
    top: 1%;  
    left: 0;    
    transform: none;  
    color: #e74c3c;
    font-family: Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
}
#canvas {
    /* border: 2px dashed #e74c3c; */
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}