@font-face {
    font-family: '세방고딕체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '세방고딕체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

  @font-face {
    font-family: '티웨이하늘체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '칠백삼체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '엄마까뚜리체';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '도현체';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'카페24 아네모네 에어';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '카페24 빛나는별';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'디자인하우스체';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:	'G마켓 산스';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Impact';
    src: url('https://fonts.cdnfonts.com/css/impact');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '제주한라산';
    src: url('//fonts.googleapis.com/earlyaccess/jejuhallasan.css');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KITA';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/-KITA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: '교보손글씨 2019';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'Masque';
    src: url('https://fonts.cdnfonts.com/css/masque');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'나눔손글씨펜';
    src: url('//fonts.googleapis.com/earlyaccess/nanumpenscript.css');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'산돌 삼립호빵체';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'어그로체';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'태나다체';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'어비 세현체';
    src: 	url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'Y유니버스체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family:'양진체';
    src: 	url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'평창평화체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'베이글팻';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'을지로체';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'쿠키런';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'리아체';
    src: 	url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'파셜산스';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 
/* @font-face {
    font-family:
    src: 
    font-weight: normal;
    font-style: normal; 
}  */
