body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container{
    width: 800px;
    height: 600px;
    border: 1px solid #000;
    position: relative;
    /* width: fit-content; */
}
/* 팔찌 이미지 영역 */
#bracelet {
    border: 2px dotted #000;
    position: relative;
    /* margin: 20px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #backgroundCanvas{
    border: 1px solid #00ff04;
    position: relative;
} */
#braceletImage {
    display: block;
    width : "603.153px";
    height : "87.732px";
}
/* 작업 가능 영역을 이미지위에 띄우기위해 */
.printable-area {
    position: absolute;
}
/* 작업 가능 영역 캔버스 */
#activeCanvas{
    /* position: absolute;  */
    border: 2px dotted #f10909ce;
    left: 30px; 
    top: 30px;
}
